# specific version
# ----------------
urllib3 < 1.26

hot-shelve
lk-logger
lk-utils
markdown-it-py
pyyaml
requests
rich-click[typer]

# unofficial
# ----------
git+https://github.com/likianta/rich-click-ext.git

# not used
# --------
# lk-qtquick-scaffold
# pyside6
